/* General Styles */
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.cv-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}


header .header-content {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header p {
    margin: 5px 0;
    color: #555;
}

section h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    color: #007bff;
}

section {
    margin-bottom: 20px;
}

ul {
    padding-left: 20px;
}

.skill-list {
    display: flex;
    flex-wrap: wrap;

}

.skills ul {
    text-decoration: none;
    list-style: none;
}

.skill-list li {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 20px;

}

